<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="OHAHA.Properties.Settings.MaltoConnectionString" connectionString="Data Source=LAB4-PC11\SQLEXPRESS;Initial Catalog=Malto;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="MaltoEntities" connectionString="metadata=res://*/Entites.Model1.csdl|res://*/Entites.Model1.ssdl|res://*/Entites.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAB4-PC11\SQLEXPRESS;initial catalog=Malto;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MaltoEntities1" connectionString="metadata=res://*/Entites.Model2.csdl|res://*/Entites.Model2.ssdl|res://*/Entites.Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAB4-PC11\SQLEXPRESS;initial catalog=Malto;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>